<!DOCTYPE html>
<html lang="es">
  <head>
    <title>{{title}}</title>   
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Little Closet template">
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <link
      rel="stylesheet"
      type="text/css"
      href="/styles/bootstrap-4.1.2/bootstrap.min.css"
    />
    <link
      href="/plugins/font-awesome-4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
      type="text/css"
    />
    {{#each styles}}
      <link rel="stylesheet" type="text/css" href="{{this}}" />
    {{/each}}

    {{#if LightboxCss}}
      <link rel="stylesheet" href="{{LightboxCss}}">
    {{/if}}
  </head>
  <body class="app">
    
    {{{body}}}

    {{#if jQuery}}
      <script src="{{jQuery}}"></script>
    {{/if}}
        
    {{#if fetchProductJs}}
      <script src="{{fetchProductJs}}"></script>
    {{/if}}
    
    {{#if JsSweetAlert}}
      <script src="{{JsSweetAlert}}"></script>
    {{/if}}
    
    <script src="/styles/bootstrap-4.1.2/popper.js"></script>
    <script src="/styles/bootstrap-4.1.2/bootstrap.min.js"></script>
    
    {{#each javascripts}}
      <script src="{{this}}"></script>
    {{/each}}

    {{#if Lightbox}}
      <script src="{{Lightbox}}"></script>
    {{/if}}
  </body>
</html>
